<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="col s12 teal darken-1 center-align">
      <h3 class='white-text'>You've successfully signed up</h3>
      <p class="green-text lighten-5">
        You can now use your email and password to log in and access the
        api endpoints.
      </p>
    </div>
  </div>
</div>