  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">MyBucket</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    </div>
  </nav>